<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      *{
        font-family: "Cinzel Decorative", serif;
      }
      .logo {
      max-width: 300px;
      max-height: 80px;
    }

    svg {
      color: #4d1f00 !important;
    }
    
  .footer {
    background-image: url("backgorund.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 150px;
    color: #4d1f00  ;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


  </style>
</head>
<body>

  <footer class="footer" style="background-color: rgb(191, 146, 100);">
    <div><a href="/"><img class="logo" style="margin-left: 10px;" src="/dress-rental.svg" alt="Dress Rental Logo" ></a></div>
    <p style="color: rgb(77, 31, 0) !important ; font-weight: bold; font-size: larger;">        
         Dress Rental © 2025
        </p>

</body>
</html>