* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    overflow-x: hidden;
   
  }
  

.dress-section-1 {
    padding: 50px;
    padding-top:0 ;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    background-color: #f9f9f9;
    /*margin-top: 80px;*/
}
.dress-section-2 {
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    background-color: #f9f9f9;
    /*margin-top: 80px;*/
}

.dress-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: white;
}

.dress-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.slider-section {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider-section::-webkit-scrollbar {
    display: none;
}

.slider-section .dress-card {
    flex: 0 0 auto;
    width: 300px;
}

.footer {
    background-color: blanchedalmond;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
/* .section-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 40px 0 20px;
    margin-top: 100px;
}*/
.heading-container {
background: white;
padding: 8px 20px;
display: inline-block;
font-weight: 600;
font-size: 16px;
border-radius: 4px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
text-align: center;
letter-spacing: 0.5px;
margin: 20px auto 20px;
/*margin-top: 80px;*/
}
.heading-container-1 {
background: white;
padding: 8px 20px;
display: inline-block;
font-weight: 600;
font-size: 16px;
border-radius: 4px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
text-align: center;
letter-spacing: 0.5px;
margin: 40px auto 20px;
margin-top: 90px;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url('https://i.pinimg.com/736x/59/33/1e/59331e49a1e6ed6ff8ed2b40f9c8fadc.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px; /* To avoid overlap with fixed navbar */
}

.banner-text {
    color: #fff;
    font-size: 48px;
    font-family: 'Brush Script MT', cursive;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}
